* {
    font-family: Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

body > h1 {
    align-self: center;
}

.books {
    display: flex;
}

.book {
    background-color: #800020;
    color: goldenrod;
    width: 240px;
    height: 400px;
    padding: 50px;
    border: goldenrod 5px double;
    margin-left: 10px;
    margin-right: 10px;
}

.bookwrapper {
    background-color: #800020;
    width: 370px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.book > h2 {
    margin-bottom: 75px;
}

.book > button {
    appearance: none;
    background-color: goldenrod;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 50px;
}

button:hover {
    cursor: pointer;
}

.addbook,
button {
    appearance: none;
    width: 100px;
    align-self: center;
    border-radius: 15px;
    border: none;
    padding: 10px 25px;
    background-color: darkgrey;
}

.formbody {
    width: 340px;
    height: 470px;
    background-color: whitesmoke;
    box-shadow: 1px 2px 40px rgba(1, 1, 1, 0.3);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 70%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type='checkbox'] {
    margin-top: 20px;
}

p {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: -10px;
}

.closebutton {
    appearance: none;
    background-color: whitesmoke;
    width: 10px;
    align-self: end;
    margin-top: -20px;
}